.box-container {
    width: 125px;
    height: 125px;
    background-image: url(https://media.giphy.com/media/EZqwsBSPlvSda/giphy.gif);
    background-size: 500px 500px;
    position: relative;
    border: 1px solid #f9ca24;
    transition: 1s ease;
   
   
   
}


.box-container::after {
    content: '';
    background-color: #f6e58d;
    position: absolute;
    top: 8px;
    right: -15px;
    height: 100%;
    width: 15px;
    transform: skewY(45deg);
}


.box-container::before {
    content: '';
    background: #f9ca24;
    position: absolute;
    bottom: -15px;
    left: 8px;
    height: 15px;
    width: 100%;
    transform: skewX(45deg);
}

